# pixi environments
.pixi/*
!.pixi/config.toml

# Builds
dist/

# pytest / coverage
.coverage
coverage-report/
.pytest_cache/

# Python bytecode
__pycache__/
*.pyc

# VSCode
.vscode/*

# examples and example runs
*workflow-run.zip
*.snakemake.log